<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="PrestashopAutomation" verbose="1" >

    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>

    <test name="CheckCurrencyTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.CheckCurrencyTest"/>
        </classes>
    </test>

    <test name="SearchCaseTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.SearchCaseTest"/>
        </classes>
    </test>


</suite>